@charset "UTF-8";

body {
    margin: 0;
    background-color: rgb(186, 186, 186);
    /* background-image: url(assets/Naamloos-1.png); */
    height: 100vh;
    border-style:ridge;
    border-color: #d0cccc silver;
    background: #bbbdc0;
}

@font-face {
    font-family: "diarycode";
    src: url('../jadediarymetcaps.ttf');
}

@font-face {
  font-family: 'sabon';
  src: url('../sabon-roman.otf'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sabon';
  src: url('../sabon-italic.otf'); 
  font-weight: normal;
  font-style: italic;
}

.header {
  font-family: "sabon";
  position: fixed center;
  top: 0; 
  height: 40px;
  width: 100%;
  border-bottom:  ridge rgba(153, 153, 160, 0.721);

}

.title {
  position: absolute;
  top: 1%;
  left: 1%;
  font-size: 1.5rem;
  color: rgba(75,75,75,.8);
  text-shadow: .5px .5px 1px #ececec,0 0 0 #000,.5px .5px 1px #ececec;
}


ul {
  list-style: none;
  margin-left: 0rem;
  margin-top: 0rem;
  padding: 1px;
}

.menu-item {
  padding: 5px;
  height: 15px;
  border-style: outset;
  border-color: #ececec silver;
  background: #bbbdc0;
  color: rgba(75,75,75,.8);
  text-shadow: .5px .5px 1px #ececec,0 0 0 #000,.5px .5px 1px #ececec;
  display: inline-block;
  z-index: 100; 
}

.menu-item:hover {
  color: rgb(255, 255, 0);
  text-shadow: none;
  /* cursor: pointer; */
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0vh;
  left: 0%;
}


/* #popup-abstract::-webkit-scrollbar {
  display: none;
}

#popup-foreword::-webkit-scrollbar {
  display: none;
}

#popup-intro::-webkit-scrollbar {
  display: none;
} */

#popup-abstract {
  top: 2%;
  left: 60%;
  width: 40vmin;
  height: auto;
  border: ridge 5px #cccccc;
}


#popup-foreword {
  top: 9%;
  left: 55%;
  width: 50vmin;
  height: auto;
  border: ridge 5px #cccccc;
}

#popup-intro {
  top: 5%;
  left: 13%;
  width: 50vmin;
  height: auto;
  border: ridge 5px #cccccc;
}

#popup-gatekeep {
  top: 8%;
  left: 35%;
  width: 55vmin;
  height: 50%;
  border: ridge 5px #cccccc;
}


#popup-keeping {
  top: 15%;
  left: 21%;
  width: 65vmin;
  height: 50%;
  border: ridge 5px #cccccc;
}

.popup::-webkit-scrollbar-thumb {
  background: #6c6c6c;
  scrollbar-width: none;
  display: block;
}
.popup::-webkit-scrollbar {
  width: 3px;
  height: 0px;
  background-color: #a2a2a2; 
  scrollbar-width: none;
  position: absolute;  
  left: 0;
  display: block;
}

#popup-keepout {
  top: 3%;
  left: 25%;
  width: 80vmin;
  height: 75%;
  border: ridge 5px #cccccc;
}

#popup-conclusion {
  top: 10%;
  left: 45%;
  width: 50vmin;
  height: 60%;
  border: ridge 5px #cccccc;
}

#popup-references {
  top: 20%;
  left: 27%;
  width: 40vmin;
  height: 40%;
  border: ridge 5px #cccccc;
  font-size: small;
}

.popup {
  font-family: "sabon";
  line-height: 1.3rem;
  position: absolute;
  width: 400px ;
  height: 300px; 
  /* top: 0px;
  left: 300px; */
  border: 1px solid #ddd;
  background-color: white;
  display: none;
  box-shadow: 5px 10px 18px #888888;
  overflow: auto; 
  z-index: 1;

}






.popup p {
  margin: 0;
  padding-left: 1rem;
  padding-right: 10px;
}

.meerindent {
  padding-left: 3rem;
}

.nogmeerindent {
  padding-left: 8rem;
}

.codecode {
  font-family: "diarycode";
}

.icon {
  color: rgb(100, 100, 100);
}

.tiny {
  margin-top: 0.2rem;
  font-size: 0.2rem;
}

.highlight {
text-decoration:underline;
text-decoration-style:wavy ;
text-decoration-color: rgb(0, 0, 255);
}

.designresearch {
text-decoration:underline;
text-decoration-color: rgb(69, 69, 69);
}



.close-button {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 1px;
  top: 1px;
  text-align: center;
  background-size: cover;
  text-transform: uppercase;
  font-family:Arial, Helvetica, sans-serif;
  border: 1px solid rgba(255, 255, 255, 0);
  /* cursor: pointer; */
  z-index: 5;
}

.close-button:hover {
  border: 1px solid rgb(100, 100, 100);
  font-weight: bold;
  cursor: pointer;
}

.drag-bar {
  font-family: "sabon";
  top: 0;
  left: 0;
  position: sticky;
  padding: 2px 14px 2px 5px;
  height: 20px;
  text-transform: uppercase;
  font-size: 1rem;
  /* cursor: grab; */
  flex-grow: 1;
  /* border: 1px; */
  border-style: outset;
  border-color: #ececec silver;
  background: #bbbdc0;
  color: rgba(75,75,75,.8);
  text-shadow: .5px .5px 1px #ececec,0 0 0 #000,.5px .5px 1px #ececec;
}

.handle-container {
  bottom: 0;
  right: 0;
  height: 1px;
  position: sticky;
  display: block;
}

.resize-handle {
  height: 5px;
  width: 5px;
  border-style: outset;
  border-color: #ececec silver;
  background: #757575;
  position: absolute;
  bottom: 1px;
  right: 1px;
  background-size: cover;
  z-index: 5;
  /* cursor: nwse-resize; */
  display: block;
}


#popup-abstract .handle-container,
#popup-foreword .handle-container,
#popup-intro .handle-container {
  display: none;
}

#popup-abstract .resize-handle,
#popup-foreword .resize-handle,
#popup-intro .resize-handle {
  display: none;
}

/* #popup-conclusion .handle-container,
#popup-references .handle-container {
  display: block;
}
#popup-conclusion .resize-handle
#popup-references .resize-handle {
  display: block;
} */
        



.form-container {
  display: none;
  position: fixed;
  left: 50%;
  bottom: -1%;
  transform: translate(-50%, -50%);
  background-color: none;
  padding: 15px;
  text-align: center;
  color: rgba(75,75,75,.8);
  text-shadow: .5px .5px 1px #ececec,0 0 0 #000,.5px .5px 1px #ececec;
  
}

.submit-container {
  text-align: center;
  margin-top: -7px; 
  color: rgba(75,75,75,.8);
  text-shadow: .5px .5px 1px #ececec,0 0 0 #000,.5px .5px 1px #ececec;
}


.insta {
  margin-left: 1rem;
  margin-bottom: 1rem;
  text-shadow: .5px .5px 1px #ececec,0 0 0 #4f4c4c,.5px .5px 1px #ececec;
  text-decoration: none;
  font-size: 1.2rem;
  color: #4f4c4c;
}

.insta:hover {
  color: rgb(0, 0, 255);
  text-decoration: none;
  /* cursor: pointer; */
  }

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 98%;
}

.figcaption {
  font-size: 0.6rem;
  margin-left: 8px;
  color: #000;
}

.figcaption2 {
  font-size: 0.6rem;
  margin-left: 50%;
  color: #000;
  line-height: 0.8rem;
}

#message {
  width:  60%; 
  height: 10vh;  
  border: 1px solid #919090; 
  resize: none; 
  font-family: "diarycode"; 
  line-height: 1rem;
  color: #0d00ff;

}

input[type="email"]{
    width: 50%;
    height: 1.3rem; 
    margin-top: 5px;
    border: 1px solid #919090; 
    font-family: "sabon";
    color: #0d00ff;
}

input[type="text"] {
  width: 50%;
  height: 1.3rem; 
  margin-top: 5px;
  border: 1px solid #919090; 
  font-family: "sabon";
  color: #0d00ff;
}

input[type="submit"] {
  background-color: #8f8f8f; 
  color: #ffffff; 
  border-radius: 70%;
  width: 35%;
  margin-top: 10px;
  font-family: "sabon";
  /* cursor: pointer; */
}

input[type="submit"]:hover {
  background-color: rgb(4, 0, 255);
}


/* WEBSITE MEDIA QUERIES */

/* styles for 'mobile', screen sizes up to 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the subsequent ones in a cascading way (from general to specific) */

@media (max-width: 779px) {
      

  body {
    margin: 0;
    height: 100vh;
    }
        .header {
          height: 80px; 
        }
      
        .title {
          font-size: 1.4rem; 
        }

        
          .menu-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr); 
            gap: 10px; 
            justify-content: center
          
          }
        
          .menu-item {
            width: 90%;
            height: auto;  
            justify-content: center;
          }

          .menu-item:nth-child(7),
          .menu-item:nth-child(8) {
           grid-column: span 2;   
          }
        
          .meerindent {
            padding-left: 0.1rem;
          }
          
          .nogmeerindent {
            padding-left: 2.1rem;
          }

       
      
 
        #popup-abstract {
          top: 9%;
          left: 25%;
          width: 73vw;
          height: 50%;
          border: ridge 5px #cccccc;
        }
        
        #popup-foreword {
          top: 13%;
          left: 25%;
          width: 73vw;
          height: 65%;
          border: ridge 5px #cccccc;
        }
        
        #popup-intro {
          top: 17%;
          left: 25%;
          width: 73vw;
          height: 65%;
          border: ridge 5px #cccccc;
        }
        
        #popup-gatekeep {
          top: 21%;
          left: 25%;
          width: 73vw;
          height: 65%;
          border: ridge 5px #cccccc;
        }

        #popup-keeping {
          top: 25%;
          left: 25%;
          width: 73vw;
          height: 65%;
          border: ridge 5px #cccccc;
        }
        
        #popup-keepout {
          top: 29%;
          left: 25%;
          width: 73vw;
          height: 65%;
          border: ridge 5px #cccccc;
        }
        
        #popup-conclusion {
          top: 33%;
          left: 25%;
          width: 73vw;
          height: 65%;
          border: ridge 5px #cccccc;
        }
        
        #popup-references {
          top: 37%;
          left: 25%;
          width: 73%;
          height: 60%;
          border: ridge 5px #cccccc;

        }

        #popup-gatekeep .handle-container,
        #popup-keeping .handle-container,
        #popup-keepout .handle-container,
        #popup-conclusion .handle-container,
        #popup-references .handle-container {
          display: none;
        }

        #popup-gatekeep .resize-handle,
        #popup-keeping .resize-handle,
        #popup-keepout .resize-handle,
        #popup-conclusion .resize-handle,
        #popup-references .resize-handle {
          display: none;
        }
                
        .close-button {
          top: 1px; 
          right: 1px; 
          color: #262626;
        }
      
  

        .drag-bar {
          font-size: 1rem;
          padding: 1px 10px;
          height: 20px;
        }
            
        .form-container {
          bottom: 0vh; 
          padding: 1px; 
        }
      
        .insta {
          margin-left: center; 
          margin-top: 10px; 
        }

        .form-container {
          display: none;
          position: fixed ;
          left: 40%;
          bottom: -3%;
          transform: translate(-30%, -30%);
          background-color: none;
          padding: 0px;
          text-align: center;
          color: rgba(75,75,75,.8);
          text-shadow: .5px .5px 1px #ececec,0 0 0 #000,.5px .5px 1px #ececec;
        }

        #popup-abstract::-webkit-scrollbar {
          display: block;
        }
        
        #popup-foreword::-webkit-scrollbar {
          display: block;
        }
        
        #popup-intro::-webkit-scrollbar {
          display: block;
        }


        
        input[type="submit"] {
          width:auto;
          justify-content: center;
          border-radius: 0%;
          border: #4e4d4d;
        }

        input[type="email"]{
          width: 60%;
          height: 1rem; 
          margin-top: 5px;
          border: 1px solid #919090; 
          font-family: "sabon";
          color: #0d00ff;
        }
      
      input[type="text"] {
        width: 60%;
        height: 0.8rem; 
        margin-top: 3px;
        border: 1px solid #919090; 
        font-family: "sabon";
        color: #0d00ff;
      }
        
      #message {
        width:  60%; 
        height: 12vh;  
        resize: none; 
        font-family: "diarycode"; 
        line-height: 0.9rem;    
      }

  
      
      }
      









